<section class="content-header m-b-40">
  <h1 class="pull-left">
    Client Details
    <small></small>
  </h1>
  <button class="btn btn-primary pull-right" ui-sref="ca-update"><i class="fa fa-plus"></i> Update</button>
</section>
<section class="content">
	<div class="row">
		<div class="col-md-3">
		  	<div class="box box-primary">
			    <div class="box-body box-profile">
			      <img class="profile-user-img img-responsive img-square" src="1.jpg" alt="User profile picture">
			      <h3 class="profile-username text-center">Fincrony pvt. ltd</h3>
			      <p class="text-muted text-center">Chatard Accountants</p>
			      <ul class="list-group list-group-unbordered">
			        <li class="list-group-item">
			          <b>Clients</b> <a class="pull-right">1,322</a>
			        </li>
			        <li class="list-group-item">
			          <b>Members</b> <a class="pull-right">543</a>
			        </li>
			        <li class="list-group-item">
			          <b>Organizations</b> <a class="pull-right">13,287</a>
			        </li>
			      </ul>

			      <a href="#" class="btn btn-primary btn-block"><b>Reach Us</b></a>
			    </div>
		  	</div>
  			<div class="box box-primary">
			    <div class="box-header with-border">
			      <h3 class="box-title">About</h3>
			    </div>
    			<div class="box-body">
      				<strong><i class="fa fa-map-marker margin-r-5"></i> Regd. Office Address</strong>
			      	<p class="text-muted">
			       		Saheed Nagar,Bhubaneswar,Odisha
			      	</p>
	      			<hr>
	  				<strong><i class="fa fa-map-marker margin-r-5"></i> Principal Place of Business Address</strong>
				    <p class="text-muted">
				       Melbourne,Australia
				    </p>
      				<hr>
      				<strong>Contacts</strong>
			      	<p class="text-muted">
				  		BBM & Co,
				  		Chatard Accountants,
				  		7540951096
				  		Anshuman@fincrony.com
				  	</p>
      				
    			</div>
  			</div>
		</div>
		<div class="col-md-6">
  			<div class="nav-tabs-custom">
			    <ul class="nav nav-tabs">
			      <li class="active"><a href="#activity" data-toggle="tab">Details</a></li>
			    </ul>
			    <div class="tab-content">
			      	<div class="active tab-pane" id="activity">
				        <div class="row">
							<div class="col-xs-12">
								<h3>Firm Details</h3>
							    <ul class="list-group list-group-unbordered">
									<li class="list-group-item">
									  <b>Date of Formation</b> <a class="pull-right">23-07-17</a>
									</li>
									<li class="list-group-item">
									  <b>Firm Regd. No</b> <a class="pull-right">543132465744</a>
									</li>
									<li class="list-group-item">
									  <b>GST No</b> <a class="pull-right">157864534687</a>
									</li>
									<li class="list-group-item">
									  <b>PAN No</b> <a class="pull-right">157864534687</a>
									</li>
									<li class="list-group-item">
									  <b>Telephone</b> <a class="pull-right">7540951096</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12">
					<div class="box box-info">
						<div class="box-header">
						  <div class="col-md-3">
							<h3 class="box-title ">Partnerss details</h3>
						  </div>
						</div>
						<div class="box-body over-x-sc">
							<div class="table-responsive">
							<table id="example2" class="table table-bordered table-hover">
								<thead>
									<tr>
										<th>Sl No</th>																		
										<th>Name</th>
										<th>Designation</th>											
										
										<th>Membership No</th>											
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>01</td>
										<td>Partner01</td>
										<td>designation</td>
										<td>15744</td>
										
									</tr>
									<tr>
										<td>02</td>
										<td>Partner02</td>
										<td>designation</td>
										<td>15765</td>
										
									</tr>
									<tr>
										<td>03</td>
										<td>Partner03</td>
										<td>designation</td>
										<td>15744</td>
									</tr>
								</tbody>
							</table>
							</table>
						</div>								
					</div>
				</div>
		    </div>
		</div>
		</div>
			<div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="info-box">
				<span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
				<div class="info-box-content">
				  <span class="info-box-text">New Members</span>
					 <span class="info-box-number">2,000</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-6 col-xs-12">
			  <div class="info-box">
				<span class="info-box-icon bg-blue"><i class="ion ion-ios-people-outline"></i></span>
				<div class="info-box-content">
				  <span class="info-box-text">Old Trail Sheet</span>
					 <span class="info-box-number"></span>
				</div>
			</div>
		</div>
		
	</div>
</section>