<section class="content-header">
  <h1 class="left">
    CA Firm
  </h1>
  <small>Details</small>
  <ul>
  <li  ng-class="{'active':stateName == 'ca-update'}" style=" list-style:none;">
  <a href="" ui-sref="ca-update">
   <button type="button" class="btn btn-primary right">
    <i class="fa fa-plus m-r-2"></i>Update</button>
	</a>
	</li>
	</ul>
</section>
  <section class="content">

      <div class="row">
        <div class="col-md-3">

          <!-- Profile Image -->
          <div class="box box-primary">
            <div class="box-body box-profile">
              <img class="profile-user-img img-responsive img-square" src="1.jpg" alt="User profile picture">

              <h3 class="profile-username text-center">Fincrony pvt. ltd</h3>

              <p class="text-muted text-center">Chatard Accountants</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Clients</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Members</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Organizations</b> <a class="pull-right">13,287</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Reach Us</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-map-marker margin-r-5"></i> Regd. Office Address</strong>

              <p class="text-muted">
               Saheed Nagar,Bhubaneswar,Odisha
              </p>

              <hr>
			  <strong><i class="fa fa-map-marker margin-r-5"></i> Principal Place of Business Address</strong>

              <p class="text-muted">
               Melbourne,Australia
              </p>

              <hr>

              <strong>Contacts</strong>

              <p class="text-muted">
			  BBM & Co,
			  Chatard Accountants,
			  7540951096
			  Anshuman@fincrony.com

              <hr>

           <!--   <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>-->

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>Serving Clients Our Motto.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#activity" data-toggle="tab">Details</a></li>
              <li><a href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
              <div class="active tab-pane" id="activity">
                <!-- Post -->
                <div class="row">
					<div class="col-xs-12">
							<h3>Firm Details</h3>
							    <ul class="list-group list-group-unbordered">
										<li class="list-group-item">
										  <b>Date of Formation</b> <a class="pull-right">23-07-17</a>
										</li>
										<li class="list-group-item">
										  <b>Firm Regd. No</b> <a class="pull-right">543132465744</a>
										</li>
										<li class="list-group-item">
										  <b>GST No</b> <a class="pull-right">157864534687</a>
										</li>
										<li class="list-group-item">
										  <b>PAN No</b> <a class="pull-right">157864534687</a>
										</li>
										<li class="list-group-item">
										  <b>Telephone</b> <a class="pull-right">7540951096</a>
										</li>
										
										
										
								</ul>
                   
						</div>
					</div>
                <!-- /.post -->

                <!-- Post -->
                <div class="row">
					<div class="col-xs-12">
						<div class="box box-info">
								<div class="box-header">
								  <div class="col-md-3">
									<h3 class="box-title ">Partnerss details</h3>
								  </div>
								</div>
								<div class="box-body over-x-sc">
									<table id="example2" class="table table-bordered table-hover">
										<thead>
											<tr>
												<th>Sl No</th>																		
												<th>Name</th>
												<th>Designation</th>											
												
												<th>Membership No</th>											
											</tr>
										</thead>
										<tbody>
											 <tr>
												<td>01</td>
												<td>Partner01</td>
												<td>designation</td>
												<td>15744</td>
												
											 </tr>
											 <tr>
												<td>02</td>
												<td>Partner02</td>
												<td>designation</td>
												<td>15765</td>
												
											 </tr>
											 <tr>
												<td>03</td>
												<td>Partner03</td>
												<td>designation</td>
												<td>15744</td>
												
											 </tr>
										
						
										</tbody>
									</table>
								</div>								
						</div>
						
					</div>
                </div>
				
				
			</div>
				<!--another tab starts-->
				<div class="tab-pane" id="settings">
					<h1>yeah its working</h1>
				</div>
			</div>
			</div>
			</div>
			</div>
			</section>