<section class="content-header">
    <h1>
      Advanced Form Elements
      <small>Preview</small>
    </h1>
  </section>
<section class="content" >
  <div class="row">
   <div class="col-md-8 col-sm-offset-2">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Enquiry Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <label for="text" class="col-sm-2 control-label">Client Name</label>
                  <div class="col-sm-10">
                    <input type="email" class="form-control" id="inputEmail3" placeholder="Client Name">
                  </div>
                </div>
                <div class="form-group">
                  <label for="text" class="col-sm-2 control-label">Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="inputEmail3" placeholder="">
                  </div>
                </div>
                <div class="form-group">
                  <label for="text" class="col-sm-2 control-label">Due Date</label>
                  <div class="col-sm-10">
                    <input type="date" class="form-control" id="inputEmail3" placeholder="">
                  </div>
                </div>
                  <div class="form-group">
                    <label for="text" class="col-sm-2 control-label">Material</label>
                  </div>
                  <div class="form-scroller">
                    <div class="form-group">
                        <label class="col-sm-2 text-right">1</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="name">
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="quantity">
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="UOM">
                      </div>
                      <div class="col-sm-2">
                        <button class="btn btn-danger"><i class="fa fa-minus"></i></button>
                      </div>
                  </div>
                    <div class="form-group">
                        <label class="col-sm-2 text-right">2</label>
                      <div class="col-sm-4">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="name">
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="quantity">
                      </div>
                      <div class="col-sm-2">
                        <input type="text" class="form-control" id="inputEmail3" placeholder="UOM">
                      </div>
                      <div class="col-sm-2">
                        <button class="btn btn-primary"><i class="fa fa-plus"></i></button>
                        <button class="btn btn-danger"><i class="fa fa-minus"></i></button>
                      </div>
                  </div>
                </div>

                
              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
            </form>
          </div>
         
        </div>
  

  </div>
 </section>

<section class="content" >
  <div class="row">
   <div class="col-md-8 col-sm-offset-2">
          <!-- Horizontal Form -->
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Purchage Order Form</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
              <div class="box-body">
                <div class="form-group">
                  <div class="col-sm-6">
                   <label for="text" class="control-label">Client Name: </label> <span>JSPL</span>
                  </div>
                  <div class="col-sm-6">
                    <label for="text" class="control-label">Enq No and Date: </label> <span>123  07/07/2017</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                   <label for="text" class="control-label">Client Name: </label> <span>JSPL</span>
                  </div>
                  <div class="col-sm-6">
                    <label for="text" class="control-label">Enq No and Date: </label> <span>123  07/07/2017</span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-6">
                      <label>Plot No :</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                  <div class="col-sm-6">
                      <label>PO Date :</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-12">
                      <label>Tin Number/GST No :</label>
                      <input type="text" class="form-control" placeholder="Enter ...">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                      <label>Marital :</label>
                      <table class="table table-bordered"> 
                      <thead> 
                        <tr> 
                          <th>SL No</th> 
                          <th>Item</th> 
                          <th>Quo</th> 
                          <th>UOM</th> 
                          <th>Price</th> 
                          <th>Disc</th> 
                          <th>Total</th> 
                          <th>Delivery Date</th> 
                          <th>Description</th> 
                        </tr> 
                      </thead> 
                      <tbody> 
                          <tr> 
                            <td>1</td> 
                            <td>Camera</td> 
                            <td>18</td> 
                            <td>PC</td> 
                            <td>15.00</td> 
                            <td>4.50%</td> 
                            <td>27,2134.00</td> 
                            <td><input type="text" class="form-control" placeholder="Enter ..."></td> 
                            <td><input type="text" class="form-control" placeholder="Enter ..."></td> 
                          </tr> 
                          <tr> 
                            <td>1</td> 
                            <td>Camera</td> 
                            <td>18</td> 
                            <td>PC</td> 
                            <td>15.00</td> 
                            <td>4.50%</td> 
                            <td>27,2134.00</td> 
                            <td><input type="text" class="form-control" placeholder="Enter ..."></td> 
                            <td><input type="text" class="form-control" placeholder="Enter ..."></td> 
                          </tr> 
                          <tr> 
                            <td>1</td> 
                            <td>Camera</td> 
                            <td>18</td> 
                            <td>PC</td> 
                            <td>15.00</td> 
                            <td>4.50%</td> 
                            <td>27,2134.00</td> 
                            <td><input type="text" class="form-control" placeholder="Enter ..."></td> 
                            <td><input type="text" class="form-control" placeholder="Enter ..."></td> 
                          </tr> 

                      </tbody> 
                      </table>
                  </div>
                </div>

              </div>
              <div class="box-footer">
                <button type="submit" class="btn btn-default">Cancel</button>
                <button type="submit" class="btn btn-info pull-right">Submit</button>
              </div>
            </form>
          </div>
         
        </div>
  

  </div>
 </section>
