<div class="login-box">
  <div class="login-logo">
    <h2>Account Management</h2>
  </div>

      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>
        <form name="login">
          <div class="form-group has-feedback">
            <input type="text" class="form-control" placeholder="Email" ng-model="user.username">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <!-- <div class="col-xs-12">
              <label>
                <input type="checkbox"> Remember Me
              </label>
            </div> -->
            <div class="col-xs-12">
              <button ng-click="signIn(user)" class="btn btn-primary btn-block btn-flat">
                Sign In
              </button>
              <section  align="center" class="m-t-sm">
                  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="close()">{{alert.msg}}</alert>
              </section>
            </div>
          </div>
        </form>
         <li  ng-class="{'active':stateName == 'forgot-password'}" style=" list-style:none;">
  <a href="" ui-sref="forgot-password">
   <button type="button" class="btn btn-primary right">
   Forgot your Password</button>
	</a>
	</li>
        <!-- <a ui-sref="register" class="text-center">Register a new membership</a> -->

      </div>


  <!-- /.login-box-body -->
</div>
