<html>
<body>
<div class="content">
<div class="register-logo">
    <a>
        <b>Add A New Company sdvgarg </b>
</div>
<div class="row">
 
        <div class="register-box-body">
            <form name="register">
			<div class="cl-xs-6" style="width:538px; float:left;">
                <div class="form-group has-feedback">
				<select class="form-control" >
				<option><i class="fa fa-sort-desc"></i>Enter Firm-type</option>
				<option>A</option>
				<option>B</option>
				<option>C</option>
                    </select>
                </div>
                <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Farm name">
                    <span class="glyphicon glyphicon-user form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="date" class="form-control" placeholder="Date of incorporation" name="corpdate">
                   
                </div>
                <div class="form-group has-feedback">
                    <input type="textarea" class="form-control" placeholder="Regd. office Address" size="250">
                    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                </div>
                <div class="form-group has-feedback">
                    <input type="textarea" class="form-control" placeholder="Principal Place of Business address">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="tel" class="form-control" placeholder="Phone Number">
                   
                </div>
				
				 <div class="box box-danger">
                                <div class="box-header">
                                    <h3 class="box-title">Directors details</h3>
                                </div>
                                <div class="box-body">
								
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" placeholder="Name ">
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control" placeholder="Designation">
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control" placeholder="ID">
                                        </div>
										<div class="col-xs-2">
                                            <input type="text" class="form-control" placeholder="PAN">
                                        </div>
                                    </div>
                                </div>
								  <div class="box-body">
								
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" placeholder="Name ">
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control" placeholder="Designation">
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control" placeholder="ID">
                                        </div>
										<div class="col-xs-2">
                                            <input type="text" class="form-control" placeholder="PAN">
                                        </div>
                                    </div>
                                </div>
								  <div class="box-body">
								
                                    <div class="row">
                                        <div class="col-xs-5">
                                            <input type="text" class="form-control" placeholder="Name ">
                                        </div>
                                        <div class="col-xs-3">
                                            <input type="text" class="form-control" placeholder="Designation">
                                        </div>
                                        <div class="col-xs-2">
                                            <input type="text" class="form-control" placeholder="ID">
                                        </div>
										<div class="col-xs-2">
                                            <input type="text" class="form-control" placeholder="PAN">
                                        </div>
                                    </div>
                                </div>
                            </div>
				
				</div>
		<div class="col-xs-6" style="float:right;">
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Pan no of Firm">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="GST No">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="TIN No">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="TAN No">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="CA Firm Name">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="CA Firm-type">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Firm regd. No">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Name of Auditor">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Designation">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Membership No">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Accounting Year">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Previous Year">
                    
                </div>
				 <div class="form-group has-feedback">
                    <input type="text" class="form-control" placeholder="Assessing Office">
                    
                </div>
				</div>
                <div class="row">
                    <div class="col-xs-12">
                        <label>
                            <input type="checkbox">
                            I agree to the
                            <a href="#">terms</a>
                        </label>
                    </div>
                    <div class="col-xs-12">
                        <button type="button" class="btn btn-primary btn-block btn-flat">ADD</button>
                    </div>
                </div>
            </form>
            <a ui-sref="login" class="text-center">I already have added the company</a>
        </div>
 
	
	</div>
	
</div>

</body>
</html>