<div class="register-box" ng-controller="Main_Controller">
  <div class="register-logo">
    <a href=""><b>GoSpeedyGo</b></a>
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Employee Registration</p>
    <form name="empRegister">
        <div class="form-group has-feedback" ng-class="{'has-error':empRegister.emp_fname.$touched && empRegister.emp_fname.$invalid}">
            <input type="text" class="form-control" name="emp_fname" ng-model="employee.firstname" placeholder="First Name*" required ng-pattern="/^(\D)+$/">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
             <span class="help-block" ng-show="empRegister.emp_fname.$error.required && empRegister.emp_fname.$touched">First Name is required</span>
             <span class="help-block" ng-show="empRegister.emp_fname.$error.pattern && empRegister.emp_fname.$touched">Please Enter Valid First Name(Only Alphabets Allowed)</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':empRegister.emp_mname.$touched && empRegister.emp_mname.$invalid}">
            <input type="text" class="form-control" name="emp_mname" ng-model="employee.middlename" placeholder="Middle Name"  ng-pattern="/^(\D)+$/">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
             <!-- <span class="help-block" ng-show="empRegister.emp_fname.$error.required && empRegister.emp_fname.$touched">First Name is required</span> -->
             <span class="help-block" ng-show="empRegister.emp_mname.$error.pattern && empRegister.emp_mname.$touched">Please Enter Valid Middle Name(Only Alphabets Allowed)</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':empRegister.emp_lname.$touched && empRegister.emp_lname.$invalid}">
            <input type="text" class="form-control" name="emp_lname" ng-model="employee.lastname" placeholder="Last Name*" required ng-pattern="/^(\D)+$/">
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
             <span class="help-block" ng-show="empRegister.emp_lname.$error.required && empRegister.emp_lname.$touched">Last Name is required</span>
             <span class="help-block" ng-show="empRegister.emp_lname.$error.pattern && empRegister.emp_lname.$touched">Please Enter Valid Last Name(Only alphabets allowed)</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':empRegister.emp_email.$touched && empRegister.emp_email.$invalid}">
            <input type="email" class="form-control" name="emp_email" ng-model="employee.email" placeholder="Email*" required ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,7}$/">
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
            <span class="help-block" ng-show="empRegister.emp_email.$error.required && empRegister.emp_email.$touched">Email is required</span>
            <span class="help-block" ng-show="empRegister.emp_email.$error.pattern && empRegister.emp_email.$touched">Please Enter Valid Email(eg:something@test.com)</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':empRegister.emp_mobile.$touched && empRegister.emp_mobile.$invalid}">
            <input type="text" class="form-control" name="emp_mobile" numbers-only ng-model="employee.mobile" placeholder="Mobile*" required ng-maxlength="10" ng-minlength="10">
            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            <span class="help-block" ng-show="empRegister.emp_mobile.$error.required && empRegister.emp_mobile.$touched">Please Enter Your 10 digit mobile no</span>
            <!-- <span class="help-block" ng-show="empRegister.user_mobile.$error.pattern && empRegister.user_mobile.$touched">Please Enter Valid Email</span> -->
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':empRegister.emp_code.$touched && empRegister.emp_code.$invalid}">
            <input type="text" class="form-control" name="emp_code" ng-model="employee.code" placeholder="Employee Code*" required >
            <span class="glyphicon glyphicon-phone form-control-feedback"></span>
            <span class="help-block" ng-show="empRegister.emp_code.$error.required && empRegister.emp_code.$touched">Please Enter An Employee Code</span>
            <!-- <span class="help-block" ng-show="empRegister.user_mobile.$error.pattern && empRegister.user_mobile.$touched">Please Enter Valid Email</span> -->
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':empRegister.emp_role.$touched && empRegister.emp_role.$invalid}">
                      
                    <select class="form-control" name="emp_role" ng-model="employee.role" required>
                    <option value="" ng-selected>Select a Role</option>
                    <option  value="1">sales</option>
                     <option  value="1">services</option>
                      <option  value="1">operations</option>
                    </select>
                    <span class="help-block" ng-show="empRegister.emp_role.$error.required && empRegister.emp_role.$touched">please select one role</span>
        </div>
        <!-- <div class="form-group has-feedback" ng-class="{'has-error':empRegister.user_pass.$touched && empRegister.user_pass.$invalid}">
            <input type="password" class="form-control" placeholder="Password" name="user_pass" ng-model="user.password" required ng-pattern="/^(?=.*?[a-zA-Z0-9])(?=.*?[#?!@$%^&*-]).{4,}$/">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span class="help-block" ng-show="empRegister.user_pass.$error.required && empRegister.user_pass.$touched">Password is required</span>
            <span class="help-block" ng-show="empRegister.user_pass.$error.pattern && empRegister.user_pass .$touched">Password must be 4 characters long having atleast one special character</span>
        </div>
        <div class="form-group has-feedback" ng-class="{'has-error':(empRegister.user_repass.$touched && empRegister.user_repass.$invalid) || (showPasswordMisMatch && empRegister.user_repass.$touched)}">
            <input type="password" class="form-control" placeholder="Retype password" name="user_repass" ng-model="user.repass" required ng-change="checkPassword(user.password, user.repass)">
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
            <span class="help-block" ng-show="empRegister.user_repass.$error.required && empRegister.user_repass.$touched">Please Reenter Your password</span>
            <span class="help-block" ng-show="showPasswordMisMatch && empRegister.user_repass.$touched">Password doesn't match</span> -->
        
        <div class="row form-group m-l-5">
            <!-- <div class="col-xs-8">
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox" ng-model="is_agree"> I agree to the <a href="">terms</a>
                </label>
              </div>
            </div> -->
            <div class="col-xs-4">
              <button ng-disabled="empRegister.$invalid || !is_agree" class="btn btn-primary btn-block btn-flat" ng-click="registerUser()">Register</button>
            </div>
        </div>
    </form>
   <!--  <a ui-sref="login" class="text-center">I already have a membership</a> -->
  </div>
</div>