<section class="content-header">
  <h1>
    Trail Sheet
    <small>Control panel</small>
  </h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-12">
			<div class="box box-info ">
				 <div class="box-header with-border">
					<h3 class="box-title">Add Trail Sheet</h3>
				 </div>
				<form name="trailSheet">
					 <div class="box-body">
						<div class="row">
						 <div class="col-sm-4">
							<div class="form-group" ng-class="{'has-error':trailSheet.comp_name.$touched && trailSheet.comp_name.$invalid}">
								<label for="lname" class="control-label">Company Name:</label>
								<div class="clearfix">
									<select class="form-control" name="comp_name" ng-model="company.name" required >
											<option value><i class="fa fa-sort-desc"></i>Enter a Company Name</option>
											<option value="2">A</option>
											<option value="3">B</option>
											<option value="4">C</option>
									</select>
									<span class="help-block" ng-show="trailSheet.comp_name.$error.required && trailSheet.comp_name.$touched">Select One Company</span>
									
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group has-feedback" ng-class="{'has-error':trailSheet.trail_from.$touched && trailSheet.trail_from.$invalid}">
								<label for="lname" class="control-label">Trail Balance from:</label>
								<div class="clearfix">
									<input type="date" class="form-control" name="trail_from" ng-model="trail.from" required>
									<span class="help-block" ng-show="trailSheet.trail_from.$error.required && trailSheet.trail_from.$touched">Enter trail from date</span>
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group has-feedback" ng-class="{'has-error':trailSheet.trail_to.$touched && trailSheet.trail_to.$invalid}">
								<label for="lname" class="control-label">Trail Balance To:</label>
								<div class="clearfix">
									<input type="date" class="form-control" name="trail_to" ng-model="trail.to" required>
									<span class="help-block" ng-show="trailSheet.trail_to.$error.required && trailSheet.trail_to.$touched">Enter Trail To date</span>
								</div>
							</div>
						</div>
					</div>
					<div class="row">	
						<div class="col-sm-4">
							<div class="form-group" ng-class="{'has-error':trailSheet.trail_file.$touched && trailSheet.trail_file.$invalid}">
								<label for="lname" class="control-label">Trail Balance File:</label>
								<div class="clearfix">
									<input type="file" value="upload" name="trail_file" ng-model="trail.file"  required>
									
								</div>
							</div>
						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<span for="dload" class="label-font m-r-5">Download Template:</span>
								<label>
									 <button type="button" class="btn btn-info">
											<i class="fa fa-download"></i>   Download</button>
								</label>
							</div>

						</div>
						<div class="col-sm-4">
							<div class="form-group">
								<button type="submit" class="btn btn-info right">submit</button>
							</div>

						</div>
						</div>
				</div>
			<div class="col-sm-12"><hr/></div>
			
				<!-- 	<div class="clearfix" ng-if="entry">
								<div class="row">
                                    <div class="col-sm-12">
		                                <div class="box-header">
		                                    <h3 class="box-title">Enter your Datas Manually</h3>
		                                </div>
	                                </div>
	                            </div>
 
                                  <div class="row m-b-10"  ng-repeat="items in trail.list">
									<div class="form-group">
									<label class="col-sm-1 m-t-10 text-right">{{$index+1}}</label>
                                        <div class="col-sm-2">
                                            <input type="text" ng-model="items.particulars" class="form-control" placeholder="Particulars ">
                                        </div>
                                        <div class="col-sm-2">
                                           <select class="form-control" ng-model="items.transaction">
													<option><i class="fa fa-sort-desc"></i>Debit/Credit</option>
													<option>Credit</option>
													<option>Debit</option>
													
											</select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Amount" ng-model="items.amount">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Group" ng-model="items.group">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="P.Group" ng-model="items.pGroup">
                                        </div>
										<div class="col-sm-1">
                                           <button type="button" ng-if="trail.list.length > 1" ng-click="removeList($index)" class="btn btn-danger btn-sm">
	                  							<i class="fa fa-minus"></i>
	                  						</button>
                                           <button type="button" ng-if="$last" ng-click="addList()" class="btn btn-info btn-sm">
	                  							<i class="fa fa-plus"></i>
	                  						</button>
                                        </div>
                                    </div>
                       
                            </div>							



					</div>
					-->
				</form>
				<div class="clear-fix">
					<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-5">
							<div class="box box-info">
								 <div class="box-header with-border">
									<h3 class="box-title">Old Trail Sheet</h3>
								 </div>
								<div class="box-body">									
										<table id="old_trail" class="table table-bordered table-hover">
											<thead>
												<tr>
													<th>Ledger</th>																		
													<th colspan="2">Closing Bal</th>
												<!--	<th>Debit</th>		-->									
													<th>Note Group</th>		
													<th>Note Ledger</th>											
												</tr>
											</thead>
											<tbody>
												<tr>
													<th>Gargee Ents.</th>																		
													<th></th>
													<th>560315</th>											
													<th>SHORT-TERM LOANS AND ADVANCES</th>		
													<th>Loans and Advances(Assets)</th>											
												</tr>
												<tr>
													<th>Abrar Khan</th>																		
													<th>27301</th>
													<th></th>											
													<th>Sundry Creditors</th>		
													<th>Equipment Hiring</th>											
												</tr>
												<tr>
													<th>A-1 Fence Pvt Ltd.</th>																		
													<th></th>
													<th>4878645387</th>											
													<th>Steel Material Supplier</th>		
													<th>Sundry Creditors</th>											
												</tr>
												<tr>
													<th>Aditya Printers</th>																		
													<th>59875</th>
													<th></th>											
													<th>Consumable Supplier</th>		
													<th>Sundry Creditors</th>											
												</tr>
											</tbody>
										</table>
									</div>
								</div>
							</div>
							<div class="col-sm-2">
							</div>
							<div class="col-sm-5">
								<div class="box box-info">
									 <div class="box-header with-border">
										<h3 class="box-title">New Trail Sheet</h3>
									 </div>
									<div class="box-body">										
											<table id="new_trail" class="table table-bordered table-hover">
												<thead>
													<tr>
														<th>Ledger</th>																		
														<th colspan="2">Closing Bal</th>
														<!--<th>Closing Bal</th>-->											
														<th>Note Group</th>		
														<th>Note Ledger</th>											
													</tr>
												</thead>
												<tbody>
													<tr>
														<th>Gargee Ents.</th>																		
														<th></th>
														<th>560315</th>											
														<th>SHORT-TERM LOANS AND ADVANCES</th>		
														<th>Loans and Advances(Assets)</th>											
													</tr>
													<tr bgcolor="yellow">
														<th>Abrar Khan</th>																		
														<th></th>
														<th>5487424</th>											
														<th>Sundry Creditors</th>		
														<th>Equipment Hiring</th>											
													</tr>
													<tr>
														<th>A-1 Fence Pvt Ltd.</th>																		
														<th>Credit</th>
														<th>4878645387</th>											
														<th>Steel Material Supplier</th>		
														<th>Sundry Creditors</th>											
													</tr>
													<tr bgcolor="yellow">
														<th>Aditya Printers</th>																		
														<th>44248</th>
														<th>Debit</th>											
														<th>Consumable Supplier</th>		
														<th>Sundry Creditors</th>											
													</tr>
												</tbody>
											</table><!-- new table ends-->
										</div><!-- new box-body ends-->
									</div><!-- new box-info ends-->
								</div> <!-- 2nd col-sm-5 ends-->
								</div><!-- row ends-->
							</div><!-- col-10 ends-->
						
						</div>
			</div>
		</div>
	</div>
	
</section>
