<section class="content-header">
  <h1>
    Trail Sheet
    <small>Control panel</small>
  </h1>
</section>
<section class="content">
	<div class="row">
		<div class="col-sm-8 col-md-offset-2">
			<div class="box box-info ">
				 <div class="box-header with-border">
					<h3 class="box-title">Add Trail Sheet</h3>
				 </div>
				<form class="form-horizontal" name="addUser">
					 <div class="box-body">
						<div class="form-group">
								<label for="lname" class="col-sm-3 control-label">Company Name:</label>
							<div class="col-sm-8">
								<select class="form-control" >
										<option><i class="fa fa-sort-desc"></i>Enter a Company Name</option>
										<option>A</option>
										<option>B</option>
										<option>C</option>
								</select>
								<span class="help-block" ng-show="addUser.fname.$error.required && addUser.fname.$touched">First name is required</span>
								<span class="help-block" ng-show="addUser.fname.$error.pattern && addUser.fname.$touched">Numeric not allowed</span>
							</div>
						</div>

						<div class="form-group has-feedback">
							<div class="col-sm-6">
								<label for="lname" class="col-sm-5 control-label">Trail Balance from:</label>
								<div class="col-sm-7">
									<input type="date" class="form-control" >
								</div>
							</div>
							<div class="col-sm-6">
								<label for="lname" class="col-sm-5 control-label">Trail Balance To:</label>
								<div class="col-sm-7">
									<input type="date" class="form-control" >
								</div>
							</div>
						</div>

						<div class="form-group">
								<label for="lname" class="col-sm-3 control-label">Trail Balance File:</label>
							<div class="col-sm-8">
								<input type="file" value="upload">
								<span class="help-block" ng-show="addUser.fname.$error.required && addUser.fname.$touched">First name is required</span>
								<span class="help-block" ng-show="addUser.fname.$error.pattern && addUser.fname.$touched">Numeric not allowed</span>
							</div>
						</div>

						<div class="form-group">
								<label for="lname" class="col-sm-3 control-label">Manual Entry:</label>
							<div class="col-sm-8 checkbox">
								<input type="checkbox" name="manual_entry" ng-model="entry">
								<span class="help-block" ng-show="addUser.fname.$error.required && addUser.fname.$touched">First name is required</span>
								<span class="help-block" ng-show="addUser.fname.$error.pattern && addUser.fname.$touched">Numeric not allowed</span>
							</div>
							
							
						</div>
				 <div class="box" ng-if="entry">
                                <div class="box-header">
                                    <h3 class="box-title">Enter your Datas Manually</h3>
                                </div>
                                <div class="box-body">
								
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Particulars ">
                                        </div>
                                        <div class="col-sm-3">
                                           <select class="form-control" >
													<option><i class="fa fa-sort-desc"></i>Debit/Credit</option>
													
													<option>Credit</option>
													<option>Debit</option>
											</select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Amount">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Group">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="P.Group">
                                        </div>
                                    </div>
                                </div>
								  
							 <div class="box-body">
								
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Particulars ">
                                        </div>
                                        <div class="col-sm-3">
                                           <select class="form-control" >
													<option><i class="fa fa-sort-desc"></i>Debit/Credit</option>
													<option>Credit</option>
													<option>Debit</option>
											</select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Amount">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Group">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="P.Group">
                                        </div>
                                    </div>
                                </div>
								   <div class="box-body">
								
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <input type="text" class="form-control" placeholder="Particulars ">
                                        </div>
                                        <div class="col-sm-3">
                                           <select class="form-control" >
													<option><i class="fa fa-sort-desc"></i>Debit/Credit</option>
													<option>Credit</option>
													<option>Debit</option>
													
											</select>
                                        </div>
                                        <div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Amount">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="Group">
                                        </div>
										<div class="col-sm-2">
                                            <input type="text" class="form-control" placeholder="P.Group">
                                        </div>
                                    </div>
                                </div>
                            </div>							










					</div>
				</form>
			</div>
		</div>
	</div>
</section>
