<section class="content-header">
  <h1 class="left">
    Users List
  </h1>
  <li  ng-class="{'active':stateName == 'new-user'}" style=" list-style:none;">
  <a href="" ui-sref="new-user">
   <button type="button" class="btn btn-primary right">
    <i class="fa fa-plus"></i> Add A New User</button>
	</a>
	</li>
</section>
<section class="content m-t-35">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="col-md-3">
            <h3 class="box-title ">Employee List</h3>
          </div>
        </div>
        <div class="box-body over-x-sc">
		<table ng-table="userData" class="table table-bordered table-hover">
            <tr ng-repeat="row in $data">
              <td data-title="'Sl No'" >{{ $index + 1}}</td>
              <td data-title="'Name'" sortable="'name'">{{row.name}}</td>
              <td data-title="'Mobile'" sortable="'mobile'">{{row.mobile}}</td>
              <td data-title="'Email'" sortable="'email'">{{row.email}}</td>
              <td data-title="'User Role'" sortable="'user_role'">{{row.user_role}}</td>
              <td>
				<span ng-if="row.is_active" class="label label-success">Active</span>
				<span ng-if="!row.is_active" class="label label-danger">InActive</span>
			  </td>
              <td data-title="'Action'" >
              	<div class="btn-group">
                  <button type="button" class="btn btn-success"><i class="fa fa-eye"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-warning"><i class="fa fa-edit"></i></button>
                </div>
                <div class="btn-group">
                  <button type="button" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </div>
				<div class="btn-group">
                  <button type="button" class="btn btn-danger">Deactivate</button>
                </div>
                
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>