<section class="content-header">
  <h1 class="left">
    Users List
  </h1>
   <button type="button" class="btn btn-primary right">
    <i class="fa fa-plus"></i> Add A New User</button>
</section>
<section class="content m-t-35">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <div class="col-md-3">
            <h3 class="box-title ">Employee List</h3>
          </div>
        </div>
        <div class="box-body over-x-sc">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th>Sl No</th>
                <th>Name</th>
                <th>Mobile</th>
                <th>Email</th>
                <th>User Role</th>
                <th>Status</th>
                <th>Operation</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>01</td>
                <td>Santosh Majhi</td>
                <td>9078640778</td>
                <td>santoshmajhi99@gmail.com</td>
                <td>Enterer</td>
                <td><span class="label label-success">Active</span></td>
                <td>
                  <a href="" class="option-btn"><i class="fa fa-pencil-square-o"></i></a>
                  <a href="" class="option-btn"><i class="fa fa-trash"></i></a>
                  <a href="" class="option-btn"><i class="fa fa-eye"></i></a>
                  <a href="" class="option-btn"><span class="label label-danger">deactivate</span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>