<section class="content-header m-b-40">
      <h1>
        User Profile
      </h1>
</section>

    <!-- Main content -->
<section class="content">
     <div class="row">
        <div class="col-md-3">          <!-- Profile Image -->
            <div class="box box-primary">
                <div class="box-body box-profile">
                     <img class="profile-user-img img-responsive img-square" src="1.jpg" alt="User profile picture">
                         <h3 class="profile-username text-center">{{profile.first_name+" "+profile.last_name}}</h3>

                            <p class="text-muted text-center">Software Developers</p>

              <ul class="list-group list-group-unbordered">
                <li class="list-group-item">
                  <b>Projects</b> <a class="pull-right">1,322</a>
                </li>
                <li class="list-group-item">
                  <b>Clients</b> <a class="pull-right">543</a>
                </li>
                <li class="list-group-item">
                  <b>Organizations</b> <a class="pull-right">13,287</a>
                </li>
              </ul>

              <a href="#" class="btn btn-primary btn-block"><b>Reach Us</b></a>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

          <!-- About Me Box -->
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">About</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <strong><i class="fa fa-map-marker margin-r-5"></i> Regd. Office Address</strong>

              <p class="text-muted">
               Saheed Nagar,Bhubaneswar,Odisha
              </p>

              <hr>
			  <strong><i class="fa fa-map-marker margin-r-5"></i> Principal Place of Business Address</strong>

              <p class="text-muted">
               Melbourne,Australia
              </p>

              <hr>

              <strong>Contacts</strong>

              <p class="text-muted">
			  7540951096
			  amaresh@goappssolutions.com
			  </p>

              <hr>

           <!--   <strong><i class="fa fa-pencil margin-r-5"></i> Skills</strong>

              <p>
                <span class="label label-danger">UI Design</span>
                <span class="label label-success">Coding</span>
                <span class="label label-info">Javascript</span>
                <span class="label label-warning">PHP</span>
                <span class="label label-primary">Node.js</span>
              </p>

              <hr>-->

              <strong><i class="fa fa-file-text-o margin-r-5"></i> Notes</strong>

              <p>We are a leading software company started in 2013.We created revolutionary change globally in software development.</p>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
        <div class="col-md-9">
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="" ng-class="{'active':active_tab == 'details'}"><a ng-click="tabChange('details')" href="" data-toggle="tab">Details</a></li>
              <li ng-class="{'active':active_tab == 'update'}"><a href="" ng-click="tabChange('update')" data-toggle="tab">Update</a></li>
              <li><a href=""  ng-click="tabChange('setting')" data-toggle="tab">Settings</a></li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="activity"  ng-class="{'active':active_tab == 'details'}">
                <!-- Post -->
                <div class="row">
					<div class="col-xs-12">
							<h3>Company Details</h3>
							    <ul class="list-group list-group-unbordered">
										<li class="list-group-item">
										  <b>Incorporation Date:</b> <a class="pull-right">23-07-17</a>
										</li>
										<li class="list-group-item">
										  <b>PAN No:</b> <a class="pull-right">543132465744</a>
										</li>
										<li class="list-group-item">
										  <b>GST No</b> <a class="pull-right">157864534687</a>
										</li>
										<li class="list-group-item">
										  <b>TAN No</b> <a class="pull-right">157864534687</a>
										</li>
										<li class="list-group-item">
										  <b>Accessing Office</b> <a class="pull-right">157864534687</a>
										</li>
										<li class="list-group-item">
										  <b>Paid up Share Capital</b> <a class="pull-right">157864534687</a>
										</li>
										<li class="list-group-item">
										  <b>Authorized Shared Capital</b> <a class="pull-right">157864534687</a>
										</li>
										<li class="list-group-item">
										  <b>Auditor</b><a href="#" class="pull-right">Sarah Ross</a>
										</li>
										
										
								</ul>
                   
						</div>
					</div>
                <!-- /.post -->


			</div>
				<!--anotjer tab starts-->
				<div class="tab-pane" id="update"  ng-class="{'active':active_tab == 'update'}">
					<h1>yeah its maybe working</h1>
				</div>
			</div>
			</div>
			</div>
			</div>
			</section>
           
             